/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}



/* Player highlighting */

.avg
{
  background-color: rgba(74,184,105,.3)
}

.top
{
  background-color: rgba(0,0,125,.15)
}

.none
{
  background-color:  rgba(255,255,255,.05)
}

.custom-tooltip 
{
    margin: 0;
    padding: 0.5em;
    background-color: rgba(250,250,250,.8);
    border-radius: 0.5em;
}
